body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  box-sizing: border-box;
}

#judging {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-weight: bold;
  flex-wrap: wrap;
}

.placeholder-box {
  width: 86px;
  height: 86px;
  position: static;
  border: 3px dashed #808080;
  left: 990px;
  margin: 5px;
}

.judging-boxes {
  padding: 12px 9px;
  color: white;
  position: static;
  width: 86px;
  height: 86px;
  left: 990px;
  top: 0px;
  margin: 5px;
  background: #212121;
}

.judging-box-top-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 3px;
  justify-content: space-between;
  font-size: 15px;
}

.judging-box-project-id {
  line-height: 0;
  font-size: 18px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
